<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.dao.TeacherMapper">
<!--结果嵌套查询-->
<select id="getTeacher" resultMap="TeacherStudent">
    SELECT s.`id` sid,s.`name` sname,t.`name` tname ,t.`id` tid FROM student AS s,teacher AS t WHERE s.tid=#{tid}
</select>
    <resultMap id="TeacherStudent" type="com.jie.pojo.Teacher">
        <result property="id" column="tid"></result>
        <result property="name" column="tname"></result>
<!-- 集合中的泛型信息使用 ofType-->
        <collection property="students" ofType="com.jie.pojo.Student" javaType="ArrayList">
            <result property="id" column="sid"></result>
            <result property="id" column="sid"></result>
            <result property="tid" column="tid"></result>
        </collection>
    </resultMap>
<!--查询嵌套处理-->
    <select id="getTeacher2" resultMap="TeacherStudent2">
    SELECT id,NAME FROM teacher where id=#{tid}
    </select>
    <resultMap id="TeacherStudent2" type="com.jie.pojo.Teacher">
        <collection property="students" ofType="com.jie.pojo.Student" javaType="ArrayList" select="getStudentByTeacherId" column="id"></collection>
    </resultMap>
    <select id="getStudentByTeacherId" resultType="com.jie.pojo.Student">
        select *from student where tid=#{tid}
    </select>

</mapper>